.gallery {
    height: 100vh;
    background: white;
  
    position: relative;
    display: flex;
    gap: 32px;
  overflow: hidden;
    box-sizing: border-box;
    padding: 24px;
    
  }
  
  .column {
    position: relative;
   
  
  
    display: flex;
    flex-direction: column;
    gap: 24px
  }
  
  .column .imageContainer {
   
    position: relative;
   
    border: 0.9px;
    border-color: black;
  
    background: "white";
    height: 23vw;
    width: 16vw;

  }
  
  .column .imageContainer img {
    object-fit: cover;
   
   
  }
  
  .column:nth-of-type(1) {
    top: -190%;
  }
  
  .column:nth-of-type(2) {
    top: -70%;
  }
  
  .column:nth-of-type(3) {
    top: -190%;
  }
  
  .column:nth-of-type(4) {
    top: -75%;
  }
  
  
  