* {
	margin: 0px;
	padding: 0px;
  }
body {
	font-family: 'Montserrat', sans-serif;
  }
.customMargins{
	margin: 0 auto;
	max-width:1128px ;
	align-self: center;
	
	
}


@media (max-width: 1220px) {
	.customMargins{
		
		padding: 0 16px;
		
	}
	.customMargins1{
		
		padding: 0 16px;
		
	}
  }
  .customMargins1{
	margin: 0 auto;
	max-width:1650px ;
	
}
.layer1{

	background-color: white;
}
.layer2{
	

}

.layer3{
	height: 150vh;
	position: relative;
	z-index: -100;
	top: 200%;
}

.layer4{
	position: fixed;
	top: 5%;
	z-index: 5;
	background-color: white;
}
.layer5{
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	z-index: 3;
	background-color: white ;
}
.layer6{
	position: fixed;
	top: 10%;
	left: 0%;
	right: 0%;
	z-index: -4;
	
}
.layer7{
	position: fixed;
	top: 35%;
	left: 0%;
	right: 0%;
	z-index: -4;
}




