* {
	margin: 0px;
	padding: 0px;
  }
body {
	font-family: 'Montserrat', sans-serif;
  }
.customMargins{
	margin: 0 auto;
	
	max-width:1128px ;
	align-self: center;
		
}




@media (max-width: 1220px) {
	.customMargins{
		
		padding: 0 16px;
		
	}
	.customMargins1{
		
		padding: 0 16px;
		
	}
	
  }

  @media (min-width: 1440px) {
	
	.customMargins1{
		
		margin-left: 156px;
		
	}
  }
  .customMargins1{
	margin: 0 0 auto auto;
	max-width:1284px ;
	
}

  




div::-webkit-scrollbar {
	width: 4px; 
	height:4px
  }
  
  div::-webkit-scrollbar-thumb {
	background-color: #babbbc; 
  }


  ////////////AfterloginHome Animation//////////////////
  

  .ai_images {
	width: 142px;
	height: 140px;
	position: relative;
	display: flex;
	align-items: center;
	padding: 47px 0;
  }
  
  .name_resume {
	width: 78px;
	height: 111px;
	flex-shrink: 0;
	animation: name_resume 3s infinite;
  }
  @keyframes name_resume {
	0%,
	100% {
	  transform: translateY(0px);
	}
	50% {
	  transform: translateY(20px);
	}
  }
  
  .david_resume {
	width: 78px;
	height: 111px;
	flex-shrink: 0;
	position: absolute;
	right: 20%;
	animation: david 3s infinite;
	display: flex;
	top: 3%;
  }
  @keyframes david {
	0%,
	100% {
	  transform: translateY(20px);
	}
	50% {
	  transform: translateY(0px);
	}
  }
