@charset "UTF-8";
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "pages/recruiter";
@import "base/footer";
@import "base/model";
@import "pages/home";

@import "pages/sign";

@import "custom";
@import "common";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
html {
  font-family: "Montserrat", sans-serif;
}
@layer utilities {
  .bg-vector {
    background-image: url("../images/candidate/Vector.png");
  }
  .bg-recruiter_back {
    background-image: url("../images/recruiter/recruiter_back.png");
  }
  .bg-hero_backGround {
    background-image: url("../images/recruiter/hero_backGround.png");
  }

  .bg-Ai_resume {
    background-image: url("../images/services/AiResumeBck.png");
  }
  .bg-InterviewQue {
    background-image: url("../images/services/InterviewQue.png");
    object-fit: cover;
  }
  .bg-SkillAssessment {
    background-image: url("../images/services/SkillAssessment.png");
  }
  .bg-DailyQuize {
    background-image: url("../images/services/DailyQuize.png");
  }
  .bg_contactUs {
    background-image: url("../images/happy_customer.png");
  }
  .bg_resumeBlue {
    background-image: url("../images/resumeBlue.png");
  }
  .bg_resumeYellow {
    background-image: url("../images/resumeYellow.png");
  }
  .bg_generateAi {
    background-image: url("../images/home/generateBg.png");
  }
  .bg_generateAi1 {
    background-image: url("../images/home/bg_generateAi1.png");
  }
  .bg-frm {
    background-image: url("../images/employer/frm.png");
  }
  .bg-sidebar {
    background-image: url("../images/employer/sidebar/sidebarBackground.png");
  }
  .bg-sidebarBg {
    background-image: url("../images/employer/sidebar/sidebarbg.svg");
  }
  .bg-carousel_bg {
    background-image: url("../images/resumeBuilder/carousel_bg.png");
  }
  .bg-inventory {
    background-image: url("../images/resumeBuilder/inventory.png");
  }
  .bg-subscriptionPlan {
    background-image: url("../images/resumeBuilder/subscriptionPlan.png");
    background-position: center;
  }
}

.react-pdf__Page__canvas {
  display: block !important;
  user-select: none !important;
  width: 192px !important;
  height: 272px !important;
}
.react-pdf__Page__canvas,
.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}

.resumeListContainer {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 234px !important;
    height: 330px !important;
   
  }
}
.preview {
  overflow: auto;
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 50rem !important;
    height: 100rem !important;
  }
}




.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;

 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
