@charset "UTF-8";
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "pages/recruiter";
@import "base/footer";
@import "base/model";
@import "pages/home";
@import "pages/job-list";
@import "pages/editor";
@import "pages/profile";
@import "pages/sign";
@import "pages/modal";

@import "custom";
@import "common";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
html {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .bg-vector {
    background-image: url("../images/candidate/Vector.png");
  }

  .bg-recruiter_back {
    background-image: url("../images/recruiter/recruiter_back.png");
  }

  .bg-hero_backGround {
    background-image: url("../images/recruiter/hero_backGround.png");
  }

  .bg-Ai_resume {
    background-image: url("../images/services/AiResumeBck.png");
  }

  .bg-InterviewQue {
    background-image: url("../images/services/InterviewQue.png");
    object-fit: cover;
  }

  .bg-SkillAssessment {
    background-image: url("../images/services/SkillAssessment.png");
  }

  .bg-DailyQuize {
    background-image: url("../images/services/DailyQuize.png");
  }

  .bg_contactUs {
    background-image: url("../images/happy_customer.png");
  }

  .bg_resumeBlue {
    background-image: url("../images/resumeBlue.png");
  }

  .bg_resumeYellow {
    background-image: url("../images/resumeYellow.png");
  }

  .bg_generateAi {
    background-image: url("../images/home/generateBg.png");
  }

  .bg_generateAi1 {
    background-image: url("../images/home/bg_generateAi1.png");
  }

  .bg-frm {
    background-image: url("../images/employer/frm.png");
  }

  .bg-sidebar {
    background-image: url("../images/employer/sidebar/sidebarBackground.png");
  }

  .bg-sidebarBg {
    background-image: url("../images/employer/sidebar/sidebarbg.svg");
  }

  .bg-carousel_bg {
    background-image: url("../images/resumeBuilder/temp.png");
    background-position-y: 26rem;
  }

  .temp-bg-gradient {
    background-image: url("../images/resumeBuilder/temp-bg.png");
    background-size: cover;
  }

  .bg-inventory {
    background-image: url("../images/resumeBuilder/inventory.png");
  }

  .bg-bg_inventory {
    background-image: url("../images/resumeBuilder/bg_inventory.png");
  }

  .bg-resume_bg {
    background-image: url("../images/resumeBuilder/resume_bg.png");
  }

  .bg-gradient {
    background-image: url("../images/resumeBuilder/gradient.png");
  }

  .bg-subscriptionPlan {
    background-image: url("../images/resumeBuilder/subscriptionPlan.png");
    background-position: center;
  }

  .bg-watermark {
    background-image: url("../images/resumeBuilder/watermark.png");
    background-position: center;
  }
  .bg-skillheader {
    background-image: url("../images/skillHeader.png");
    background-position: center;
  }
  .bg-skillfooter {
    background-image: url("../images/skillFooter.png");
    background-position: start;
  }
  .bg-certificate {
    background-image: url("../images/resumeBuilder/certificate.png");
  }
  .bg-noJobs {
    background-image: url("../images/jobs/noJobsBg.png");
  }
  .bg-Skill {
    background-image: url("../images/withoutLogin/skillBg.png");
  }
}

.resumes {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 234px !important;
    height: 330px !important;
  }
}
.docs {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 170px !important;
    height: 260px !important;
  }
}

// @media (max-width: 460px) {
//   .resumes {
//     .react-pdf__Page__canvas {
//       width: 132px !important;
//       height: 200px !important;
//     }
//   }
// }

.resumes1 {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 292px !important;
    height: 372px !important;
  }
}

.resumes3 {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 192px !important;
    height: 272px !important;
  }
}
.resumes2 {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 100% !important;
    height: 50vw !important;
    max-width: 700px;
    max-height: 1000px;
  }
}

@media (max-width: 850px) {
  .resumes2 {
    .react-pdf__Page__canvas {
      width: 100% !important;
      height: 100vw !important;
    }
  }
}

// .website{
//   .react-pdf__Page__canvas {
//     display: block !important;
//     user-select: none !important;
//     width: 700px !important;
//     height: 872px !important;
//   }
// }

.react-pdf__Page__canvas,
.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}

.resumeListContainer {
  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 234px !important;
    height: 330px !important;
  }
}

.preview {
  overflow: auto;

  .react-pdf__Page__canvas {
    display: block !important;
    user-select: none !important;
    width: 50rem !important;
    height: 100rem !important;
  }
}

.swiper {
  width: 100%;
  height: 630px;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crop-container {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0px;
  /* z-index: 100; */

  transform: translate(-50%, -50%);
}

.earth_loader {
  .loading_dots {
    width: 110px;
    margin-left: 17px;
  }

  .loading_dots:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  .glass {
    position: absolute;
    top: 4px;
    left: 15px;
    -webkit-animation: myOrbit 2s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: myOrbit 2s linear infinite;
    /* Firefox 5-15 */
    -o-animation: myOrbit 2s linear infinite;
    /* Opera 12+ */
    animation: myOrbit 2s linear infinite;
    /* Chrome, Firefox 16+, 
                                                   IE 10+, Safari 5 */
  }

  @-webkit-keyframes myOrbit {
    from {
      -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
  }

  @-moz-keyframes myOrbit {
    from {
      -moz-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }

    to {
      -moz-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
  }

  @-o-keyframes myOrbit {
    from {
      -o-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }

    to {
      -o-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
  }

  @keyframes myOrbit {
    from {
      transform: rotate(0deg) translateX(40px) rotate(0deg);
    }

    to {
      transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
  }
}

.miniLoader {
  .box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;

    .circle1 {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #06a9ef;
      animation: move 500ms linear 0ms infinite;
      margin-right: 30px;

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
        animation: grow 500ms linear 0ms infinite;
      }

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
        animation: grow 500ms linear 0s infinite reverse;
      }
    }
  }

  @keyframes grow {
    from {
      transform: scale(0, 0);
      opacity: 0;
    }

    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(45px);
    }
  }
}

ul {
  list-style: unset !important;
}

.move {
  transition: all 0.3s linear;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(45px);
  }
}

.css-1hb7zxy-IndicatorsContainer {
  display: flex;
  flex-direction: row-reverse;
}

.css-1xc3v61-indicatorContainer {
  padding: 8px 0 8px 0;
}

.css-occ1gz-control {
  cursor: pointer;
  // height: 40px !important;
}
.css-b62m3t-container {
  padding: 0 !important;
}

ol {
  list-style-type: decimal; /* Use decimal numbers */
}

.withoutBorder {
  .css-1l1it4t-control {
    .css-b62m3t-container{
      height: 38px !important;
      padding: 0 !important;
    }
    border: none !important;
    border-radius: 8px;
    height: 38px !important;
    padding: 0 !important;
  }
  .css-3w2yfm-ValueContainer {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .css-1p3m7a8-multiValue {
    min-width: 100px;
  }
  .css-1jqq78o-placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #767676;
  }
  .css-qbdosj-Input {
    min-width: 100px;
  }
}
.JobSectorPlaceHolder {
  .css-1jqq78o-placeholder {
    font-weight: 400;
    font-size: 12px;
    
    color: #767676;
  }
}

.CurrencyClass {
  .css-1eymi8j-control {
   width: 100%;
  }
}
.css-1u9des2-indicatorSeparator{
  width: 0;
}
