.Employer_main_container {
  background-image: url("../../images/employer/Employer_background.png");
}
.employer_btn_class:hover {
  background: var(--primary, #06a9ef);
}
// }?/* Employer section end here  */

/* employer sorting section start here */
.sorting_main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  animation: scale 1.5s;
  animation-delay: 2s;

  .anime-svg {
    /* display: none; */
    /* isplay: none; */
    position: absolute;
    height: 1100px;
    width: 1100px;
    animation: scale1 1s;
    // animation-delay: 3s;
    z-index: 5;
    scale: 1.8;
    left: 19%;
    top: 1%;
    // transition: all 2s;
  }
  .abc {
  }
  .animation-container {
    height: 620px;
    width: 80%;
  }
  .animation-btn {
    display: none;
  }
  .animation {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .i {
    width: 152px;
    height: 152px;
    flex-shrink: 0;
  }
  .a {
    animation: imgAnime 0.05s;
  }
  .img1 {
    position: absolute;
    left: 3%;
    top: 20%;
  }
  .img2 {
    position: absolute;
    left: 42%;
    top: 25%;
  }
  .img3 {
    position: absolute;
    right: 20%;
    top: 10%;
  }
  .img4 {
    position: absolute;
    right: 10%;
    top: 50%;
  }
  .img5 {
    position: absolute;
    right: 30%;
    top: 50%;
  }
  .img6 {
    position: absolute;
    left: 10%;
    top: 70%;
  }
  .img9 {
    position: absolute;
    left: 25%;
    top: 50%;
  }
  .img7 {
    position: absolute;
    left: 42%;
    top: 70%;
  }
  .img8 {
    position: absolute;
    right: 20%;
    top: 75%;
  }
  @keyframes scale {
    100% {
      transform: scale(0);
      /* display: block; */
    }
  }
  /* @keyframes scale1 {
        0% {
          /* transform: scale(0); */
  /* display: block; */

  @keyframes imgAnime {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Increase the scale to make it bigger */
    }
    100% {
      transform: scale(1); /* Return to the original scale */
    }
  }
  @keyframes scale1 {
    0% {
      height: 1500px;
      width: 1500px;
    }
    100% {
      height: 1100px;
      width: 1100px;
    }
  }
  /* main container end here */

  /* second_main_container start here  */
}
.Employer_sorting_container {
  .Employer_sorting_sub_container {
    height: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .sorting_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // padding-left: 25px;
    width: 95%;
  }
  .sorting_head {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: sorting_head 0.2s;
  }
  @keyframes sorting_head {
    from {
      transform: translate(-50%);
    }
    to {
      transform: translate(0%);
      transform: translate(20px);
    }
  }
  .sorting_2nd_heading {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: sorting_2nd_heading 0.2s;
  }
  @keyframes sorting_2nd_heading {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .sorting_image {
    animation: imageAnime 0.5s;
    // width: %;
  }

  @keyframes imageAnime {
    from {
      transform: translate(-40%);
    }
  }
  .sorting_image_animation {
    animation: imageAnimation 0.4s;
  }
  @keyframes imageAnimation {
    0% {
      scale: 1;
      transform: translateX(0px);
    }
    25% {
      scale: 1.3;
      transform: translateX(120px);
    }
    50% {
      scale: 1;
      transform: translateX(-20px);
    }
    75% {
      scale: 1.2;
      transform: translateX(100px);
    }
    100% {
      scale: 1;
      transform: translateX(0px);
    }
  }
  .sorting_para {
    color: var(--Text-Secondary, #646464);
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    position: relative;
  }
  .desk_para {
    display: flex;
    flex-direction: column;
  }
  .phone_para {
    display: none;
  }
  .one {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }
  .two {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }
  .three {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }
  .sorting_para_white_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .white_para1 {
    animation: whitediv1 2s forwards;
  }
  .white_para2 {
    animation: whitediv2 2s forwards;
    animation-delay: 1s;
  }
  .white_para3 {
    animation: whitediv3 2s forwards;
    animation-delay: 2s;
  }

  @keyframes whitediv1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes whitediv2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes whitediv3 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @media (max-width: 894px) {
    .sorting_head {
      font-size: 40px;
    }
    .sorting_2nd_heading {
      font-size: 24px;
    }
    .sorting_para {
      font-size: 14px;
    }
  }
  @media (max-width: 850px) {
  }
  @media (max-width: 768px) {
    .sorting_head {
      font-size: 40px;
    }
    .sorting_2nd_heading {
      font-size: 24px;
    }
    .sorting_para {
      font-size: 14px;
    }
  }
  @media (max-width: 702px) {
    .sorting_head {
      font-size: 36px;
    }
    .sorting_2nd_heading {
      font-size: 20px;
    }
    .sorting_para {
      font-size: 10px;
    }
  }
  @media (max-width: 594px) {
    .Employer_sorting_sub_container {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    .sorting_head {
      font-size: 30px;
    }
    .sorting_2nd_heading {
      font-size: 18px;
    }
    .sorting_para {
      font-size: 14px;
    }
    .sorting_wrapper {
      gap: 8px;
    }
    .desk_para {
      display: none;
    }
    .phone_para {
      display: block;
    }
    .sorting_main-container {
      display: none;
    }
  }
  @media (max-width: 320px) {
    .sorting_head {
      font-size: 28px;
    }
    .sorting_2nd_heading {
      font-size: 16px;
    }
    .sorting_para {
      font-size: 12px;
    }
  }
}
/* employer sorting section end here */

/* employer hire candidates section start here */
.Employer_hire_candidates_container {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-top: 42px !important;
  justify-content: space-evenly;

  .Employer_hire_candidates_images_container {
    width: 100%;
    height: 60%;
    position: relative;
    transition: all 1s;
  }
  .Employer_hire_candidates_images {
    width: 100%;
    height: 100%;
  }
  #earth {
    width: 45%;
    height: 45%;
    background: url("../../images/employer/world.png");

    border-radius: 50%;
    background-size: 210px;
    box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0),
      inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;

    /* top: 152px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    /* position: absolute; */
  }
  @keyframes rotate {
    from {
      background-position-x: 530px;
    }
    to {
      background-position-x: 0px;
    }
  }
  .tethescope {
    width: 60%;
    position: absolute;
    left: 64%;
    transform: translate(-50%, -50%);
    top: 54%;
  }
  .hire_candidates_head {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }
  @media (min-width: 600px) {
    .hire_candidates_head {
      font-size: 48px;
    }
  }
  .hire_candidates_2nd_head {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hire_candidates_para {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 152.941% */
  }
  .Employer_hire_candidates_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
    height: 100%;
  }
  .hire_candidates_btn {
    display: flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--secondary, #ffda1d);
    background: var(--secondary, #ffda1d);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hire_candidates_btn:hover {
    border-radius: 12px;
    background: var(--primary, #06a9ef);
  }
  .worldMap {
    height: 100%;
    width: 100%;
  }
}
.Employer_hire_candidates_paralx {
  height: 65rem;
  padding-top: 36px;
}
@media (max-width: 1024px) {
  .Employer_hire_candidates_paralx {
    height: 50rem;
  }
}
@media (max-width: 851px) {
  .Employer_hire_candidates_container {
    flex-direction: column;
    // align-items: flex-start;
  }
  .Employer_hire_candidates_images_container {
    width: 80% !important;
    height: 30% !important;
    // display: none;
    display: flex;
    justify-content: center !important;
  }
  .Employer_hire_candidates_paralx {
    height: 65rem;
  }
}
@media (max-width: 768px) {
  .Employer_hire_candidates_wrapper {
    width: 75% !important;
  }
  .hire_candidates_head {
    font-size: 40px !important;
  }
  .hire_candidates_2nd_head {
    font-size: 24px !important;
  }
  .hire_candidates_para {
    font-size: 16px !important;
  }
  .hire_candidates_btn {
    padding: 12px 28px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
    // padding: 18px 48px;
  }
  .Employer_hire_candidates_paralx {
    height: 60rem;
  }
}
@media (max-width: 594px) {
  .Employer_hire_candidates_wrapper {
    width: 100% !important;
    gap: 8px !important;
  }
}
@media (max-width: 525px) {
  .hire_candidates_head {
    font-size: 46px !important;
  }
  .hire_candidates_2nd_head {
    font-size: 22px !important;
  }
  .hire_candidates_para {
    font-size: 14px !important;
  }
}
@media (max-width: 425px) {
  .hire_candidates_head {
    font-size: 30px !important;
  }
  .hire_candidates_2nd_head {
    font-size: 18px !important;
  }
  .hire_candidates_para {
    font-size: 14px !important;
  }
  .hire_candidates_btn {
    padding: 8px 16px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
  }
}

@media (max-width: 375px) {
  .hire_candidates_head {
    font-size: 30px !important;
  }
  .hire_candidates_2nd_head {
    font-size: 18px !important;
  }
  .hire_candidates_para {
    font-size: 14px !important;
  }
  .hire_candidates_btn {
    padding: 8px 16px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
  }
  .Employer_hire_candidates_paralx {
    height: 45rem;
  }
}

@media (max-width: 360px) {
  .hire_candidates_head {
    font-size: 30px !important;
  }
  .hire_candidates_2nd_head {
    font-size: 18px !important;
  }
  .hire_candidates_para {
    font-size: 14px !important;
  }
  .hire_candidates_btn {
    padding: 8px 16px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
  }
}
.Employer_main_phn {
  display: none;
}
.Employer_head {
  font-size: 86px;
}
.Employer_head_2nd {
  font-size: 26px;
}
.main_container {
  height: 560px;
}
.employer_button {
  padding: 18px 48px;
}
.employer_head_para {
  font-size: 16px;
}
.emp_3rd_container {
  gap: 24px;
}
.Employer_main_paralx {
  height: 36rem;
}
@media (max-width: 1100px) {
  .main_container {
    height: 460px;
  }
  .Employer_head {
    font-size: 50px;
  }
  .Employer_head_span {
    font-size: 50px;
  }
}
@media (max-width: 884px) {
  .employer_head_para {
    width: 60%;
  }
  .Employer_head {
    font-size: 50px;
    line-height: 68px;
  }
  .employer_button {
    padding: 12px 36px;
  }
  .Employer_main_container {
    background-position: 70% 30%;
  }
}
@media (max-width: 851px) {
  .employer_head_para {
    display: none;
  }
  .employer_button {
    display: none;
  }
  .Employer_main_phn {
    display: block;
  }
  .Employer_head {
    font-size: 54px;
  }
  .Employer_main_paralx {
    height: 55rem;
  }
}
@media (max-width: 768px) {
  .main_container {
    height: 360px;
  }
  .Employer_head {
    font-size: 40px;
    line-height: 42px;
    // padding-top: 46px;
  }
  .Employer_head_span {
    font-size: 40px;
  }
  .employer_head_para {
    width: 60%;
    font-size: 12px;
  }
  .employer_button {
    padding: 12px 36px;
  }
  .emp_3rd_container {
    gap: 10px;
  }
  .Employer_main_container {
    background-position: 70% 30%;
  }
  .Employer_main_paralx {
    height: 35rem;
  }
}
@media (max-width: 594px) {
  .main_container {
    height: 300px;
  }
  .employer_button {
    padding: 10px 22px;
  }
  .emp_3rd_container {
    gap: 8px;
  }
  .employer_button {
    display: none;
  }
  .Employer_main_container {
    background-position: 70% 30%;
  }
  .employer_head_para {
    display: none;
  }
  .Employer_main_paralx {
    height: 30rem;
  }
}
@media (max-width: 426px) {
  .main_container {
    height: 200px;
  }

  .Employer_head {
    font-size: 28px;
    line-height: 32px;
    // padding-top: 46px;
  }
  .Employer_head_span {
    font-size: 28px;
  }
  .Employer_head_2nd {
    font-size: 20px;
  }
  .employer_head_para {
    display: none;
  }
  .emp_3rd_container {
    gap: 4px;
  }
  .employer_button {
    display: none;
  }
  .Employer_main_container {
    background-position: 70% 30%;
  }
  .Employer_main_paralx {
    height: 29rem;
  }
}
@media (max-width: 376px) {
  .main_container {
    height: 190px;
  }
  .Employer_head {
    font-size: 28px;
    line-height: 32px;
    padding-top: 12px;
  }
  .Employer_head_span {
    font-size: 28px;
  }
  .Employer_head_2nd {
    font-size: 20px;
    width: 50%;
  }
  .employer_head_para {
    font-size: 8px;
  }
  .emp_3rd_container {
    gap: 4px;
  }
  .employer_button {
    display: none;
  }
  .Employer_main_container {
    background-position: 70% 30%;
  }
  .emp_3rd_container {
    gap: 16px;
  }
  .Employer_head {
    width: 60%;
  }
  .Employer_main_paralx {
    height: 30rem;
  }
}
@media (max-width: 360px) {
  .Employer_head_2nd {
    font-size: 20px;
    width: 75%;
  }
  .Employer_head {
    width: 85%;
  }
}

@media (max-width: 340px) {
  .Employer_head_2nd {
    font-size: 20px;
    width: 70%;
  }
  .Employer_head {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .Employer_head_2nd {
    font-size: 20px;
    width: 60%;
  }
  .Employer_head {
    width: 80%;
  }
}

.Employer_why_skilotech {
  font-size: 36px;
}
@media (max-width: 768px) {
  .Employer_why_skilotech {
    font-size: 30px;
    padding: 8px 2px;
  }
}

@media (max-width: 476px) {
  .Employer_why_skilotech {
    font-size: 16px;
    padding: 8px 2px;
  }
}
@media (max-width: 426px) {
  .Employer_why_skilotech {
    font-size: 14px;
    padding: 8px 2px;
  }
}
@media (max-width: 360px) {
  .Employer_why_skilotech {
    font-size: 14px;
    padding: 8px 0px;
  }
}
.Employer_why_skilotech_sec2_cart_1st_img {
  transition: all 0.5s;
}
.Employer_why_skilotech_sec2_cart:hover {
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
}
.Employer_why_skilotech_sec2_cart:hover .Employer_why_skilotech_sec2_cart_1st {
  background: var(--secondary, #ffda1d);
}
.Employer_why_skilotech_sec2_cart:hover
  .Employer_why_skilotech_sec2_cart_1st_img {
  fill: #333333;
}

/* employer why skilotech section 2nd end here */

@media (min-width:570px) {
  .grid_one{
    display: grid ;
    grid-template-columns: repeat(3, 3fr)!important;
  }
}