

.HomepageCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-top: 24px;
}
.gallary {
  width: 100%;
  position: relative;
}
.gallary-container {
  align-items: center;
  display: flex;
  height: 35vw;
  margin: 0 auto;

  position: relative;
  /* background-color: red; */
}
.gallary-item {
  position: absolute;
  transition: all 0.7s ease-in-out;

  object-fit: contain;
 
  display: flex;
  width: 15.6vw;
  height: 22vw;

  justify-content: center;
  align-items: center;
}


// @media (max-width: 1350px) {
//   .gallary-item {
//     width: 200px;
//     height: 280px;
//   }
//   .gallary-item-3 {
//     width: 270px !important;
//     height: 380px !important;
//   }
// }

// @media (max-width: 1200px) {
//   .gallary-item {
//     width: 160px;
//     height: 225px;
//   }
//   .gallary-item-3 {
//     width: 230px !important;
//     height: 322px !important;
//   }
// }


.gallary-item-1 {
  left: -20%;

  transform: translateX(-50%);
}
.gallary-item-2,
.gallary-item-4 {
  z-index: 1;
}
.gallary-item-2 {
  left: 15%;
  transform: translateX(-50%);
}
.gallary-item-3 {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: flex;
  width: 22.7vw;
  height: 32vw;
}

.gallary-item-4 {
  left: 85%;
  transform: translateX(-50%);
}
.gallary-item-5 {
  left: 120%;

  transform: translateX(-50%);
  animation: fadeIn3 0.5s;
}



.fadeIn {
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  0% {
    left: 70%;
    transform: translateX(-50%);
    width: 628px;
    height: 320px;
    z-index: 2;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
    width: 788px;
    height: 400px;
    z-index: 2;
  }
}
@keyframes fadeIn2 {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    /* display: none; */
    opacity: 0;
    width: 160px;
    height: 74px;
    left: 100%;
  }
  /* 90%{
    opacity: 0;
    width: 0px;
    height: 0px;
  } */

  100% {
    opacity: 0;
    width: 160px;
    height: 74px;
    left: 90%;
  }
}
