/*hero section */

.recruiter_hero {
  background-image: url("../../images/recruiter/recruiter_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 61px 0;
  .expand_text {
    width: 80%;
  }
  .expand_text p {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .expand_text span {
    color: var(--secondary, #ffda1d);
    font-family: Montserrat;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  @media (max-width: 1220px) {
    .expand_text p {
      font-size: 70px;
    }
    .expand_text span {
      font-size: 70px;
    }
  }

  .get_started_button button {
    margin-top: 13px;
    border: none;
    border-radius: 12px;
    background: var(--secondary, #ffda1d);
    display: inline-flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  .connect_text {
    margin: 3% 0px 5px 0px;
  }
  .connect_text p {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .connect_text span {
    color: var(--secondary, #ffda1d);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .connect_line {
    background: #fff;
    width: 55%;
    height: 1px;
  }
  .para {
    margin-top: 12px;
  }
  .para p {
    max-width: 55%;
    color: var(--white, #fff);
    text-align: justify;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media (max-width: 1110px) {
    .connect_line {
      min-width: 590px;
    }
    .para p {
      min-width: 590px;
    }
  }
}

/* Animation section start */

.recruiter_animation {
  margin-top: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .recruiter_animation p {
    padding-top: 4%;
    position: absolute;
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .vector {
    display: flex;
    /* justify-content: center; */
    fill: #e4f4ff;
    width: 80%;
    height: 5%;
    flex-shrink: 0;
    margin-top: 32%;
  }
  .group1 {
    display: flex;
    justify-content: end;
    top: 22%;
    right: 13%;
    position: absolute;
    width: 80%;
  }
  .group1 img {
    object-fit: cover;
    width: 24%;
    flex-shrink: 0;
  }
  .group2 {
    display: flex;
    top: 35%;
    right: 27%;
    position: absolute;
    width: 13%;
  }

  .group2 img {
    width: 83%;
  }

  .group3 {
    display: flex;
    top: 36%;
    right: 37%;
    position: absolute;
    width: 12%;
    /* animation: grp_3 0.5s;
    animation-delay: 1s;
    opacity: 1; */
  }
  .group3 img {
    width: 66%;
  }

  /* @keyframes grp_3{
      from{
           transform: translate(-500%);
      opacity: 0;
   
       }
      to{
           transform: translate(0%);
           opacity: 1;
       }
   } */

  .group4 {
    display: flex;
    top: 37%;
    right: 35%;
    position: absolute;
    width: 23%;
  }
  .group4 img {
    width: 36%;
  }

  .group5 {
    display: flex;
    top: 37%;
    right: 46%;
    position: absolute;
    width: 23%;
  }
  .group5 img {
    width: 36%;
  }

  .group6 {
    display: flex;
    top: 37%;
    right: 47%;
    position: absolute;
    width: 32%;
  }
  .group6 img {
    width: 24%;
  }

  .group7 {
    z-index: -1;
    position: absolute;
    display: flex;
    top: 22%;
    right: 9%;
    width: 25%;
  }
  .group7 img {
    width: 62%;
  }

  .organisation_img {
    overflow: hidden;
    /* padding-top: 5%; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .organisation_img img {
    width: 100%;
  }
  .white_back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .white_class {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .collaborate_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    position: absolute;
    gap: 10px;
  }
  .collaborate_sectionn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

   
    gap: 10px;
  }
  .collaborate_left {
    display: flex;
    justify-content: flex-start;
    // margin-left: 10%;
    flex-direction: column;
    width: 777px;
    gap: 24px;
  }
  .collaborate_left p1 {
    max-width: 90%;
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .collaborate_left p2 {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .collaborate_left p3 {
    max-width: 100%;
    color: var(--Text-Secondary, #646464);
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .collaborate_img {
    width: 306px;
    height: 352px;
  }
  .collaborate_img img {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

/* expand section start */

.expand_section {
  width: 100%;
  display: flex;
  gap: 43px;
  margin-top: 49px;
  margin-bottom: 26px;

  .expand_left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 580px;
  }

  .expand_left img {
    width: 100%;
    height: 100%;
  }
  .expand_right {
    height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .expand {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .expand p {
    width: 100%;
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }

  .expand span {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
  }

  @media (max-width: 1070px) {
    .expand p {
      width: 65%;
    }
  }

  .expand_para {
    margin: 24px 0px;
  }

  .expand_para p {
    width: 100%;
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 152.941% */
    align-self: stretch;
  }

  @media (max-width: 1170px) {
    .expand_para p {
      width: 100%;
    }
  }

  .expand_button button {
    border: none;
    border-radius: 12px;
    border: 1px solid var(--secondary, #ffda1d);
    background: var(--secondary, #ffda1d);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

/* efficient section start */

.efficient_text_parent {
  display: flex;
  width: 100%;
  justify-content: center;

  .efficient_child {
    border-radius: 16px;
    background: #024e6e;
    display: flex;
    width: 100%;
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
  }
  .efficient_child p {
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-align: center;
  }
  .efficient_child span {
    color: var(--secondary, #ffda1d);
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media (max-width: 1400px) {
    .efficient_child p {
      width: 64%;
    }
  }
  @media (max-width: 1210px) {
    .efficient_child p {
      width: 84%;
    }
  }
}

/* bottom section start */
.recruiter_bottom_parent {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 36px;

  .recruiter_bottom_left {
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 36px;
  }
  .bottom_card_text {
    width: 100%;
  }

  #heading_text {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
  }
  #para_text {
    color: var(--text-prmary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .recruiter_bottom_right {
    display: flex;
    width: 50%;
    padding: 21.549px 18.453px 9.792px 19.478px;
    justify-content: center;
    align-items: center;
  }
  .recruiter_bottom_right img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 1250px) {
    .recruiter_bottom_right img {
      width: 100%;
    }
  }
}
