.job-list {
  height: 90vh;
  padding-top: 26px !important;
  .header {
    background: rgb(6, 169, 239);
    background: linear-gradient(
      90deg,
      rgba(6, 169, 239, 1) 0%,
      rgba(92, 195, 240, 1) 11%,
      rgba(122, 207, 244, 1) 24%,
      rgba(255, 255, 255, 1) 71%
    );

    border-radius: 6px;
  }
  .job-card {
    width: 31.4%;
    // height: 185px;
    padding: 16px 0px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 1px 4px 0px #00000040;
  }
  @media (min-width: 1480px) {
    .job-card {
    //   height: 205px;
    }
  }
}
